.history-page[data-v-62032222]{max-width:1400px}.page-title[data-v-62032222]{font-size:18px;font-weight:600}.stat-card[data-v-62032222]{text-align:center}.stat-card[data-v-62032222] .n-statistic .n-statistic-value{font-size:24px}
