.history-page[data-v-4554b97b]{max-width:1400px}.page-title[data-v-4554b97b]{font-size:18px;font-weight:600}.stat-card[data-v-4554b97b]{text-align:center}.stat-card[data-v-4554b97b] .n-statistic .n-statistic-value{font-size:24px}
