.settings[data-v-89bfcc8a]{max-width:1000px}[data-v-89bfcc8a] .n-form-item{margin-bottom:16px}[data-v-89bfcc8a] .n-divider{margin:24px 0}[data-v-89bfcc8a] .n-collapse-item__header-main{font-weight:500}
