.settings[data-v-45466a37]{max-width:1000px}[data-v-45466a37] .n-form-item{margin-bottom:16px}[data-v-45466a37] .n-divider{margin:24px 0}[data-v-45466a37] .n-collapse-item__header-main{font-weight:500}
